---
import LayoutsDM from "../layouts/layoutsdm.astro"
import Navbar from "../components/navbar.astro"
---
<Navbar />
<div class="pt-16">
	<LayoutsDM>
        <div class="flex justify-center items-center h-fit">
            <div class="p-5 border rounded-2xl w-96 h-64">
                <h1>chao em</h1>
            </div>
        </div>
    </div>
</div>