---
import Layouts from "../layouts/layouts.astro"
import Navbar from "../components/navbar.astro"
---
<Navbar />
<div class="pt-16">
	<Layouts />
	<h1 class="text-3xl text-center pt-20">Welcome to the GDVNPS DemonList</h1>
    <p class="text-xl text-center pt-10 sm:px-52 px-13">This is where people submitting their completion of some Extreme-Insane Demon Levels from GDVNPS into here</p>
</div>